:root {
  /* Dark Palette */
    --black: #000000ff;
    --eerie-black: #1C1C1Cff;
    --jet: #393939ff;
    --davys-grey: #555555ff;
    --sonic-silver: #717171ff;
  /* Light Palette */
    --spanish-gray: #8E8E8Eff;
    --silver-chalice: #AAAAAAff;
    --silver: #C6C6C6ff;
    --platinum: #E3E3E3ff;
    --white: #ffffff;
    --blue-violet: #8A2BE2;

}

/******************************************
RESET DEFAULT
******************************************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/******************************************
TAG STYLES
******************************************/
html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

h1 {
  font-size: 2rem;  
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 2.25rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

h3 {
  font-size: 1.5rem;
}

p {
  max-width: 1000px;
}


a {
  text-decoration: none;
  color: var(--eerie-black);
  font-weight: bold;
}

a:hover {
  color: var(--silver);
}

li {
  list-style: none;
}

/******************************************
HEADER
******************************************/
header {
  background-color: black;
  color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  min-height: 69px;
}

/******************************************
BODy
******************************************/

main {
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
}


input {
  border-radius: 2px;
  padding: 0px 0px 0px 16px;
  margin: 10px;
  height: 36px;
  width: 200px;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: 0px;
  background-color: white;
  border: 1px solid black;
}

.button {
  height: 36px;
  width: 200px;
  background-color: var(--davys-grey);
  color: var(--white);
  text-align: center;
}

/****************************************
Select League Size Screen
****************************************/
#teams-div{
  display: flex;
  flex-flow: column;
  align-items: center;
}

/****************************************
Enter Player Names Screen
****************************************/

#name-div{
  display: flex;
  flex-flow: column;
  align-items: center;
}

/****************************************
Draft Position Screen
****************************************/
.player-name {
  font-size: 32px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  box-shadow: 5px 5px blueviolet;
}